<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>GetPreviousOrder</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GetRatingFromOrderId</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>HideOrderFromUser</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>HideOrderFromDriver</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GetDriverHistory</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AddPreferredLocation</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GetDriverAttribute</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPreviousOrder</servlet-name>
        <url-pattern>/GetPreviousOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRatingFromOrderId</servlet-name>
        <url-pattern>/GetRatingFromOrderId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HideOrderFromUser</servlet-name>
        <url-pattern>/HideOrderFromUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HideOrderFromDriver</servlet-name>
        <url-pattern>/HideOrderFromDriver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDriverHistory</servlet-name>
        <url-pattern>/GetDriverHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPreferredLocation</servlet-name>
        <url-pattern>/AddPreferredLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDriverAttribute</servlet-name>
        <url-pattern>/GetDriverAttribute</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
