<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.grosheeran.identityservice.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefreshToken</servlet-name>
        <servlet-class>com.grosheeran.identityservice.RefreshToken</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.grosheeran.identityservice.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateToken</servlet-name>
        <servlet-class>com.grosheeran.identityservice.ValidateToken</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateTokenSOAP</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GetUserFromUserId</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefreshToken</servlet-name>
        <url-pattern>/RefreshToken</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateToken</servlet-name>
        <url-pattern>/ValidateToken</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateTokenSOAP</servlet-name>
        <url-pattern>/ValidateTokenSOAP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserFromUserId</servlet-name>
        <url-pattern>/GetUserFromUserId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
